meteo.xsd

<? xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            xnlns:wht="http://www.xml-dom.it/spazidinomi/meteo/"
            targetNamespace="http://www.xml-dom.it/spazidinomi/meteo/">

<xsd:element name="previsioni">
   <xsd:complexType> 
      <xsd:sequence>
	      <xsd:element ref="wth:previsioni" maxOccurs="unbounded" />
      </xsd:sequence>
   </xsd:complexType>
</xsd:element>

<xsd:element name="giorno">
   <xsd:complexType>
      <xsd:sequence>
         <xsd:element ref="wht:codizione" minOccurs="1" maxOccurs="1" />
         <xsd:element ref="wht:temperatura" minOccurs="1" maxOccurs="1"/>
         <xsd:element ref="wht:umidità" minOccurs="1" maxOccurs="1" />
         <xsd:element ref="wht:vento" minOccurs="1" maxOccurs="1" />
         <xsd:element ref="wht:precipitazioni" minOccurs="1" maxOccurs="1" />
         <xsd:element ref="wht:luna" minOccurs="1" maxOccurs="1"/>
      </xsd:sequence>
      <xsd:attribute name="data" type="xsd:string" use="required">
         <xsd:simpleType>
         <xsd:restriction base="xsd:string">
            <xsd:pattern value="\d{2}-\d{2}-\d{4}" />
         </xsd:restriction>
         </xsd:simpleType>
      </xsd:attribute>
   </xsd:complexType>
</xsd:element>

<xsd:element name="codizione" type="xsd:string" />

<xsd:element name="temperatura" type="xsd:integer" />

<xsd:element name="umidità" type="xsd:integer"/>

<xsd:element name="vento">
   <xsd:complexType>
      <xsd:attribute name="velocità" type="xsd:integer" use="required" />
      <xsd:attribute name="direzione" type="xsd:integer" use="optional" /> <!-- se non c'è vento la direzione è omessa -->
   </xsd:complexType>
</xsd:element>

<xsd:element name="precipitazioni">
   <xsd:complexType>
      <xsd:sequence>
         <xsd:attribute name="probabilità" type="xsd:integer" use="required" />
         <xsd:attribute name="intensità" type="xsd:integer" use="optional" /> <!-- se la probabilità è zero, allora non è definibile nemmeno un'intensità -->
      </xsd:sequence>
      </xsd:complexType>
</xsd:element>

<xsd:element name="luna">
   <xsd:complexType>
      <xsd:sequence>
         <xsd:element ref="wht:fase" type="xsd:integer" use="required" />
         <xsd:element ref="wht:illuminazione" type="xsd:integer" use="required" /> 
         <xsd:element ref="wht:tendenza" type="xsd:string" use="required" /> 
      </xsd:sequence>
   </xsd:complexType>
</xsd:element>






